div(style="margin-left: -20px; margin-right: -20px;")
    div(class="jumbotron masthead")
        div(class="container")
            h1 Alt
            p Alternate Framework
            ul(class="masthead-links")
                li Versi {{ alt.version }}

    div(class="bs-docs-social")
        div(class="container")
            ul(class="bs-docs-social-buttons")
                li
                    img(src="asset/img/alt/chrome.jpg")
                    | &nbsp; Chrome
                li
                    img(src="asset/img/alt/mozilla.jpg")
                    | &nbsp; Mozilla
                li
                    img(src="asset/img/alt/opera.jpg")
                    | &nbsp; Opera
                li
                    img(src="asset/img/alt/safari.jpg")
                    | &nbsp; Safari
                li
                    img(src="asset/img/alt/ie.jpg")
                    | &nbsp; IE

