div(data-alt-breadcrumbs="breadcrumbs")
div(data-alt-toolbar="'Tambah User'", data-icon="'icon-user'")
    div(data-alt-button="back")
    div(data-alt-button="save")
div(data-system-user-detail="detail")