style(type="text/css").
    body {
        background-image: url('asset/img/grid-18px-masked.png');
        background-repeat: repeat-x;
    }
div(class="center-wrapper", style="padding-top: 200px;")
    div(class="center-content text-center")
        div(style="font-size:200px; height: 100px;") {{ error['code'] }}
        h3 {{ error['description_mini'] }}
        p {{ error['description'] }}
        a(class="btn btn-danger", data-ng-href="{{ alt.baseUrl }}") Kembali ke halaman utama