div(class="row-fluid")
    div(class="span12")
        form(role="form", class="form-horizontal", name="form", data-ng-submit="detail.save()")
            div(class="span6")
                div(class="control-group", data-ng-class="{error : !$validate.required(detail.data.username) || !usernamevalid}", data-ng-show="detail.setting.username.show")
                    label(for="username", class="control-label") Username
                    div(class="controls")
                        input(type="text", class="span8", id="username", name="username", data-ng-model="detail.data.username", data-ng-disabled="detail.setting.username.disabled", required, maxlength="50")
                        span(class="help-inline", data-ng-show="!$validate.required(detail.data.username)" ) * harus diisi
                        span(class="help-inline", data-ng-show="detail.data.username && !usernamevalid" ) * username sudah ada

                div(class="control-group", data-ng-class="{error : !$validate.required(detail.data.password)}", data-ng-show="detail.setting.password.show")
                    label(for="password", class="control-label") Password
                    div(class="controls")
                        input(type="password", class="span8", id="password", name="password", data-ng-model="detail.data.password", data-ng-disabled="detail.setting.password.disabled", required, maxlength="50")
                        span(class="help-inline", data-ng-show="!$validate.required(detail.data.password)" ) * harus diisi

                div(class="control-group", data-ng-class="{error : !$validate.required(detail.data.passwordlagi) || !$validate.equals(detail.data.password, detail.data.passwordlagi)}", data-ng-show="detail.setting.passwordlagi.show")
                    label(for="passwordlagi", class="control-label") Password Lagi
                    div(class="controls")
                        input(type="password", class="span8", id="passwordlagi", name="passwordlagi", data-ng-model="detail.data.passwordlagi", data-ng-disabled="detail.setting.passwordlagi.disabled", required, maxlength="50")
                        span(class="help-inline", data-ng-show="!$validate.required(detail.data.passwordlagi)" ) * harus diisi
                        span(class="help-inline", data-ng-show="$validate.required(detail.data.passwordlagi) && !$validate.equals(detail.data.password, detail.data.passwordlagi)" ) * password tidak sama

                div(class="control-group", data-ng-class="{error : !$validate.required(detail.data.usergroupid)}", data-ng-show="detail.setting.usergroup.show")
                    label(for="usergroup", class="control-label") Usergroup
                    div(class="controls")
                        select(class="span8", id="usergroup", name="usergroup", data-ng-model="detail.data.usergroupid", data-ng-disabled="detail.setting.usergroup.disabled", data-ng-options="ug.usergroupid as ug.description for ug in usergroup", required)
                        span(class="help-inline", data-ng-show="!$validate.required(detail.data.usergroupid)" ) * harus diisi

                div(class="control-group", data-ng-show="detail.setting.division.show")
                    label(for="division", class="control-label") Divisi
                    div(class="controls")
                        select(class="span8", id="division", name="division", data-ng-model="detail.data.divisionid", data-ng-disabled="detail.setting.division.disabled", data-ng-options="div.divisionid as div.name for div in division")

            div(class="span6")
                div(class="control-group", data-ng-class="{error : !$validate.required(detail.data.name)}", data-ng-show="detail.setting.name.show")
                    label(for="name", class="control-label") Nama
                    div(class="controls")
                        input(type="text", class="span8", id="name", name="name", data-ng-model="detail.data.name", data-ng-disabled="detail.setting.name.disabled", required, maxlength="255")
                        span(class="help-inline", data-ng-show="!$validate.required(detail.data.name)" ) * harus diisi

                div(class="control-group", data-ng-class="{error : detail.data.email && !$validate.email(detail.data.email)}", data-ng-show="detail.setting.email.show")
                    label(for="email", class="control-label") Email
                    div(class="controls")
                        input(type="text", class="span8", id="email", name="email", data-ng-model="detail.data.email", data-ng-disabled="detail.setting.email.disabled", maxlength="255")
                        span(class="help-inline", data-ng-show="detail.data.email && !$validate.email(detail.data.email)" ) * email tidak valid

                div(class="control-group", data-ng-show="detail.setting.address.show")
                    label(for="address", class="control-label") Alamat
                    div(class="controls")
                        textarea(class="span8", rows="3", id="address", name="address", data-ng-model="detail.data.address", data-ng-disabled="detail.setting.address.disabled", maxlength="255")
