link(rel="stylesheet", href="asset/css/ng-table.min.css")
div(class="row-fluid", data-ng-show="setting.isfilter")
    div(class="span12")
        div(data-alt-filter="filter", data-table="table", data-setting="filtersetting")
            form(class="form-horizontal")
                div(class="control-group")
                    label(for="username", class="control-label") Username
                    div(class="controls")
                        input(type="text", class="input-block-level", data-ng-model="filter.username")
                div(class="control-group")
                    label(for="usergroup", class="control-label") Usergroup
                    div(class="controls")
                        select(class="input-block-level", data-ng-model="filter.usergroupid", data-ng-options="v.usergroupid as v.description for (k,v) in setting.usergroup")

div(id="{{ elementid }}")
    table(class="table table-bordered table-hover", data-ng-table="table")
        thead
            tr
                th No
                th(class="sortable",ng-click="table.sort('username')", ng-class="{'sort-asc': table.isSortBy('username', 'asc'),'sort-desc': table.isSortBy('username', 'desc')}")
                    div Username
                th Nama
                th Usergroup
                th Login
                //th Last Login
                th Enabled
                th Aksi
        tr(data-ng-repeat="data in table.data")
            td(style="width: 60px; text-align: center;") {{ data.no }}
            td(style="width: 150px;") {{ data.username }}
            td {{ data.name }}
            td {{ filtersetting.usergroup[data.usergroupid].description }}
            td(style="width: 50px; text-align: center;",data-ng-init="btnlogout = setting.button.logout(data.username, data.name, data.islogin == alt.registry.STATUS_YES)")
                div(data-alt-button="btnlogout")
            //td {{ data.lastlogin > 0 ? moment(data.lastlogin, 'X').format('DD-MM-YYYY hh:mm:ss') : '-' }}
            td(style="width: 50px; text-align: center;", data-ng-init="btnenabled = setting.button.enabled(data.userid, data.name, data.isenabled == alt.registry.STATUS_YES)")
                div(data-alt-button="btnenabled")
            td(style="text-align: center; width: {{ buttons.length * 45 }}px;", data-ng-init="buttons = setting.buttons(data)")
                div(class="btn-group", data-ng-repeat="b in buttons")
                    div(data-alt-button="b")
