ul(class="nav", data-ng-init="menu = $parent.menu;", data-ng-if="menu.modules")
    li(class="")
        div(class="btn-group")
            a(class="btn", data-ng-href="{{ alt.baseUrl }}dashboard/{{ menu.module }}")
                | {{ menu.modules[menu.module] }}
            button(class="btn dropdown-toggle", data-toggle="dropdown", data-ng-click="menu.submenu = menu.submenu == 'module' ? '' : 'module';")
                span(class="caret")
            ul(class="dropdown-menu", data-ng-show="menu.submenu == 'module'")
                li(class="", data-ng-if="menu.modules['foundation']")
                    a(data-ng-href="{{ alt.baseUrl }}dashboard/foundation", data-ng-click="menu.submenu = ''; menu.module = 'foundation';") {{ menu.modules['foundation'] }}
                li(class="", data-ng-if="menu.modules['tenancy']")
                    a(data-ng-href="{{ alt.baseUrl }}dashboard/tenancy", data-ng-click="menu.submenu = ''; menu.module = 'tenancy';") {{ menu.modules['tenancy'] }}
                li(class="", data-ng-if="menu.modules['maintenance']")
                    a(data-ng-href="{{ alt.baseUrl }}dashboard/maintenance", data-ng-click="menu.submenu = ''; menu.module = 'maintenance';") {{ menu.modules['maintenance'] }}
                li(class="", data-ng-if="menu.modules['asset']")
                    a(data-ng-href="{{ alt.baseUrl }}dashboard/asset", data-ng-click="menu.submenu = ''; menu.module = 'asset';") {{ menu.modules['asset'] }}
                li(class="", data-ng-if="menu.modules['finance']")
                    a(data-ng-href="{{ alt.baseUrl }}dashboard/finance", data-ng-click="menu.submenu = ''; menu.module = 'finance';") {{ menu.modules['finance'] }}

ul(class="nav", data-ng-if="menu.module == 'foundation'")
    li(class="dropdown")
        a(href="javascript:;", data-ng-click="menu.submenu = menu.submenu == 'master' ? '' : 'master'", data-toggle="dropdown")
            | Master
            b(class="caret")
        ul(class="dropdown-menu", data-ng-show="menu.submenu == 'master'")
            li(class="")
                a(data-ng-click="menu.submenu = ''", data-ng-href="{{ alt.baseUrl }}master/profile/view") Profil
            li(class="")
                a(data-ng-click="menu.submenu = ''", data-ng-href="{{ alt.baseUrl }}master/division/list") Divisi
            li(class="")
                a(data-ng-click="menu.submenu = ''", data-ng-href="{{ alt.baseUrl }}master/unittype/list") Tipe Unit
    li(class="dropdown")
        a(href="javascript:;", data-ng-click="menu.submenu = menu.submenu == 'building' ? '' : 'building'", data-toggle="dropdown")
            | Bangunan
            b(class="caret")
        ul(class="dropdown-menu", data-ng-show="menu.submenu == 'building'")
            li(class="")
                a(data-ng-click="menu.submenu = ''", data-ng-href="{{ alt.baseUrl }}master/tower/list") Gedung
            li(class="")
                a(data-ng-click="menu.submenu = ''", data-ng-href="{{ alt.baseUrl }}master/floor/list") Lantai
            li(class="")
                a(data-ng-click="menu.submenu = ''", data-ng-href="{{ alt.baseUrl }}master/unit/list") Unit
    li(class="dropdown")
        a(href="javascript:;", data-ng-click="menu.submenu = menu.submenu == 'tm' ? '' : 'tm'", data-toggle="dropdown")
            | Administrator
            b(class="caret")
        ul(class="dropdown-menu", data-ng-show="menu.submenu == 'tm'")
            li(class="")
                a(data-ng-click="menu.submenu = ''", data-ng-href="{{ alt.baseUrl }}user/list") User Management
ul(class="nav", data-ng-if="menu.module == 'tenancy'")
    li(class="dropdown")
        a(href="javascript:;", data-ng-click="menu.submenu = menu.submenu == 'master' ? '' : 'master'", data-toggle="dropdown")
            | Master
            b(class="caret")
        ul(class="dropdown-menu", data-ng-show="menu.submenu == 'master'")
            li(class="")
                a(data-ng-click="menu.submenu = ''", data-ng-href="{{ alt.baseUrl }}master/activity/list") Checklist
            li(class="")
                a(data-ng-click="menu.submenu = ''", data-ng-href="{{ alt.baseUrl }}master/paymentperiod/list") Periode Pembayaran
            li(class="")
                a(data-ng-click="menu.submenu = ''", data-ng-href="{{ alt.baseUrl }}master/billcomponent/list") Komponen Biaya
            li(class="")
                a(data-ng-click="menu.submenu = ''", data-ng-href="{{ alt.baseUrl }}master/billwarrantycomponent/list") Komponen Jaminan
    li(class="dropdown")
        a(href="javascript:;", data-ng-click="menu.submenu = menu.submenu == 'tm' ? '' : 'tm'", data-toggle="dropdown")
            | Tenant
            b(class="caret")
        ul(class="dropdown-menu", data-ng-show="menu.submenu == 'tm'")
            li(class="")
                a(data-ng-click="menu.submenu = ''", data-ng-href="{{ alt.baseUrl }}tenancy/tenant/list") Daftar Tenant
ul(class="nav", data-ng-if="menu.module == 'maintenance'")
    li(class="dropdown")
        a(href="javascript:;", data-ng-click="menu.submenu = menu.submenu == 'master' ? '' : 'master'", data-toggle="dropdown")
            | Master
            b(class="caret")
        ul(class="dropdown-menu", data-ng-show="menu.submenu == 'master'")
            li(class="")
                a(data-ng-click="menu.submenu = ''", data-ng-href="{{ alt.baseUrl }}master/requestcategory/list") Kategori Request
